.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 2rem;
  border-radius: 8px;
  z-index: 1000;
}

.modal-content {
  width: 70vh;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
}

.content-header {
  display: flex;
  align-items: center;
}

.add-company {
  margin: 0.8rem;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.add-company:hover {
  transform: scale(1.2);
}

.modal-body {
  /* padding: 0.5rem; */
}

.form-content {
  padding: 0.5rem;
}

.form-header {
  padding-bottom: 1.5rem;
}

.form-content-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  /* width: 50%; */
}

.form-content-item-text {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
}
/* input start */

.input-content {
  width: 100%;
  border-radius: 8px;
  display: flex;
}

.form-icon {
  padding: 12px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #ccc;
  display: flex;
  background-color: #263238;
  border: none;
}

.input-field:focus {
  outline: none;
}

.company-icon {
  color: white;
  font-size: 25px;
}

.input-field {
  border: 1px solid #ccc;
  background-color: #f1f3f6;
  /* border: none; */
  border-radius: 0 8px 8px 0;
  padding: 12px;
  width: 100%;
  font-size: 1rem;
}
/* input end */

.close-button {
  background: none;
  border: none;
  color: #000;
}

.close-icon {
  cursor: pointer;
  font-size: 1.8rem;
}

.button-container {
}

.button-save {
  background-color: #263238;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  width: 6rem;
}

.button-save:hover {
  background-color: white;
  color: #000;
  border: 1px solid #263238;
}

.company-list {
  /* margin-top: 1rem; */
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem #e6edef;
}

.no-companies {
  font-style: italic;
  color: #777;
}

.company-table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  /* background-color: #f2f2f2; */
}

.table-row:hover {
  background-color: #f9f9f9;
}

.table-cell {
  border: 1px solid #edf1f7;
  /* border: 1px solid #ccc; */
  padding: 8px;
  text-align: left;
}

.table-cell-delete-icon {
  padding: 8px;
  text-align: center;
  border: 1px solid #edf1f7;
}

.delete-icon {
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  color: #d32f2f;
  transition: transform 0.2s ease;
}

.delete-icon:hover {
  transform: scale(1.2);
}
