.sidenav {
  background: #263238;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 5rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
  color: white;
}
