<div [class.collapsed]="!isExpanded" class="sidenav-container">
  <div class="sidenav">
    <button class="toggle-btn" (click)="toggleSidenav()">
      <ng-icon
        class="sidenav-toggle-icon"
        [name]="isExpanded ? 'mynaChevronLeft' : 'mynaChevronRight'"
        [ngStyle]="{
          transform: isExpanded ? 'rotate(0deg)' : 'rotate(360deg)',
          transition: 'transform 0.6s ease'
        }"
      />
    </button>
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item">
        <a
          [routerLink]="['/dashboard']"
          routerLinkActive="router-link-active"
          class="sidenav-nav-link"
        >
          <ng-icon class="sidenav-link-icon" name="mynaHome" />

          <span class="sidenav-link-text" *ngIf="isExpanded">Dashboard</span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          [routerLink]="['/expenses']"
          routerLinkActive="router-link-active"
          class="sidenav-nav-link"
        >
          <ng-icon class="sidenav-link-icon" name="tdesignMoneyFilled" />
          <span class="sidenav-link-text" *ngIf="isExpanded">Despesas</span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          [routerLink]="['/company']"
          routerLinkActive="router-link-active"
          class="sidenav-nav-link"
        >
          <ng-icon
            class="sidenav-link-icon"
            name="mynaBuildingOne"
            (click)="toggleSidenav()"
          />
          <span class="sidenav-link-text" *ngIf="isExpanded">Empresas</span>
        </a>

        <div class="sub-level-menu" *ngIf="isExpanded">
          <ul class="sublevel-nav">
            <li class="sublevel-nav-item">
              <a
                [routerLink]="['/company/create']"
                routerLinkActive="router-link-active"
                class="sublevel-nav-link"
              >
                <ng-icon class="sublevel-link-icon" name="mynaCircleSolid" />
                <span class="sublevel-link-text" *ngIf="isExpanded"
                  >Nova Empresa</span
                >
              </a>
            </li>

            <li class="sublevel-nav-item">
              <a
                [routerLink]="['/company/list']"
                routerLinkActive="router-link-active"
                class="sublevel-nav-link"
              >
                <ng-icon class="sublevel-link-icon" name="mynaCircleSolid" />
                <span class="sublevel-link-text" *ngIf="isExpanded"
                  >Listar Empresas</span
                >
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
