<app-default-login-layout
  title="Cadastre-se e comece agora"
  loginButtonText="Registrar agora"
  registerButtonText="Logar agora"
  (submit)="submit()"
  (navigate)="navigate()"
  [disableLoginButton]="!signupForm.valid"
>
  <form [formGroup]="signupForm">
    <app-default-input-button
      formControlName="name"
      inputName="name"
      type="text"
      label="Seu nome"
      placeholder="Digite seu nome"
    >
    </app-default-input-button>

    <app-default-input-button
      formControlName="email"
      inputName="email"
      type="email"
      label="email"
      placeholder="seuemail@gmail.com"
    >
    </app-default-input-button>

    <app-default-input-button
      formControlName="password"
      inputName="password"
      type="password"
      label="Sua senha"
    >
    </app-default-input-button>

    <app-default-input-button
      formControlName="passwordConfirm"
      inputName="passwordConfirm"
      type="password"
      label="Confirme sua senha"
    >
    </app-default-input-button>
  </form>
</app-default-login-layout>
