<main>
  <section class="form-section">
    <img src="" alt="" />
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <button
      class="login-button"
      (click)="submit()"
      [disabled]="disableLoginButton"
    >
      {{ loginButtonText }}
    </button>
    <div>
      <span>ou</span>
    </div>
    <button class="register-button" (click)="navigate()">
      {{ registerButtonText }}
    </button>
  </section>
  <section class="finance-highlight">
    <!-- <h1><span>Controle </span> suas finanças agora!</h1> -->
    <img
      src="assets/images/controll_your_finances.png"
      alt="Finance illustration"
    />
  </section>
</main>
