<app-default-login-layout
  title="Logue com a sua conta"
  loginButtonText="Entrar"
  registerButtonText="Registrar"
  (submit)="submit()"
  (navigate)="navigate()"
  [disableLoginButton]="!loginForm.valid"
>
  <form [formGroup]="loginForm">
    <app-default-input-button
      formControlName="email"
      inputName="email"
      type="email"
      label="email"
      placeholder="seuemail@gmail.com"
    >
    </app-default-input-button>

    <app-default-input-button
      formControlName="password"
      inputName="password"
      type="password"
      label="Sua senha"
    >
    </app-default-input-button>
  </form>
</app-default-login-layout>
