<app-default-login-layout
  title="Logue sua conta"
  loginButtonText="Entrar"
  registerButtonText="Registrar"
  (submit)="submit()"
  (navigate)="navigate()"
  [disableLoginButton]="!loginForm.valid"
>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <app-default-input-button
      label="E-mail"
      inputName="email"
      type="email"
      placeholder="E-mail"
      [icon]="'tdesignMail'"
      formControlName="email"
    ></app-default-input-button>

    <app-default-input-button
      label="Password"
      inputName="password"
      type="password"
      placeholder="Password"
      [icon]="'tdesignLockOn'"
      formControlName="password"
    ></app-default-input-button>

    <!-- O botão de submit já está no layout pai -->
  </form>
</app-default-login-layout>
